.gradientBorder {
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    position: relative;
}

.gradientBorder::after {
    content: "";
    position: absolute;
    height: 104%;
    width: 100.8%;
    border-radius: 1.875rem;
    background: linear-gradient(180deg, #1E40AF 0%, #B6C1E5 43.85%, #0D1B49 100%),
 radial-gradient(circle, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%), radial-gradient(circle, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%), #1E40AF;
 z-index: -1;
}